
body{
    overflow: hidden;
}

.grid {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    border-color: white;
    background: rgba(255, 158, 72, 1);
    position: relative;
    font-size: 200px;
    text-align: center;
}

.doodler {
    width: 80px;
    height: auto;
    position: absolute;
    border-radius: 0.2px;
}
.game-over{
    width: 120px !important;
    height: auto;
}
.platform {
    width: 65px;
    height: 20px;
    position: absolute;
    border-radius: 1px;
}

.instructions {
    display: flex;
    font-size: 20px;
    margin: 0.7em;
    height: 50px;
    text-align: center;
    justify-content:center;
    align-items:center;
    color: black;
    background-color: white;
    border-radius: 10px;
    line-height: 1.5;
}
.game_sub_title_ms718{
    padding-top: 0px !important;
}
.score {
    user-select: none;
    text-align: center;
    font-size: 12vw;
    color: white;
    top: 10px;
    width: 100%;
    border-radius: 10px;
    margin-right: 0.5em;
    z-index: 10000;
}