
body{
    overflow: hidden;
}

.grid {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    border-color: white;
    background-color: #ffd687;
    position: relative;
    font-size: 200px;
    text-align: center;
}

.doodler {
    width: 25%;
    height: 15%;
    position: absolute;
    border-radius: 1px;
}

.platform {
    width: 85px;
    height: 15px;
    background-color: #a06c20;
    position: absolute;
    border-radius: 1px;
}

.instructions {
    font-size: 6vw;
    margin: 1em;
    margin-top: 50%;
    color: black;
    background-color: white;
    border-radius: 10px;
    line-height: 1.5;
}

.score {
    user-select: none;
    text-align: center;
    font-size: 12vw;
    color: white;
    top: 10px;
    width: 100%;
    border-radius: 10px;
    margin-right: 0.5em;
}
.bomb {
    font-size: 30px;
}