
body{
    overflow: hidden;
}

.grid {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    border-color: white;
    background: rgba(255, 158, 72, 1);
    position: relative;
    font-size: 200px;
    text-align: center;
}

.doodler {
    width: 80px;
    height: auto;
    position: absolute;
    border-radius: 0.2px;
}

.platform {
    width: 65px;
    height: 20px;
    position: absolute;
    border-radius: 1px;
}

.instructions {
    font-size: 6vw;
    margin: 1em;
    margin-top: 50%;
    color: black;
    background-color: white;
    border-radius: 10px;
    line-height: 1.5;
}

.score {
    user-select: none;
    text-align: center;
    font-size: 12vw;
    color: white;
    top: 10px;
    width: 100%;
    border-radius: 10px;
    margin-right: 0.5em;
    z-index: 10000;
}